body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 36px;
    margin: 0;
    background-color: #568d8f;
    color: #ffffff;
}
form {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #80b0b3;
}
.question {
    font-weight: 900;
}
.answer:hover {
    background-color: #609c9f;
}